html{
    scroll-behavior: smooth;
}
body {
    text-align: center;
}

img {
    width 175px;
    height: 175px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#Carousel{
    background-color: cornflowerblue;
}
#Carousel img{
    height: 300px !important;
    margin-top: 35px;
    width: 200px !important;
    margin-right: auto;
    margin-left: auto;
}
.carousel-inner p {
    margin-bottom:15px;
    color: white;
    font-size:20px;
}
.carousel-indicators{
    margin-top: 50px;
}
h1{
    font-weight: bold;
}
#menu{
    list-style-type: none;
    width:60px;
    position: fixed;
}
li{
    margin-right:25px; 
    display: inline;
    float: right;
    font-size:24px;
}
#title{
    margin-right:100px;
}
li:hover{
    color:magenta;
}